@model Ada.Webpage.Models.BannerItem

<div class="carousel-item">
    <img src="@Model.Image.AbsoluteUri" class="d-block w-100" alt="imagen4">
    <div class="carousel-caption d-none d-md-block">
        <h5>@Model.Title</h5>
        <p>@Model.Description</p>
    </div>
</div>

